body{
	background-color: #555;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	font-size: 14.6px;
	color: #111;
	margin: 0;
}

table{
	border-spacing: 0;
}

h1{
	color: rgb(0, 112, 192);
	font-size: 16px;
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	margin: 0;
}
h2{
	font-size: 14.6px;
	font-weight: bold;
	margin: 0;
}

a{
	color: #027;
}

.page{
	display: inline-block;
	vertical-align: top;
	width: 8.5in;
	height: 11in;
	color: black;
	background-color: white;
	margin: 0.5in;
	box-shadow: 0.1in 0.1in 0.05in #222;
}

.page-content{
	padding-left: 0.5in;
	padding-right: 0.5in;
}

.blue{
	color: rgb(0, 112, 192);
}
.gold{
	color: rgb(255, 200, 0);
}
.black{
	color: rgb(0, 0, 0);
}
.bold{
	font-weight: bold;
}

.xp-b{
	position: relative;
	width: 10px;
}
.xp-b>div{
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 6px;
	background-color: #A00;
}